<%- include("header") -%>

<h2>About</h2>

<p>This application uses EJS with Express to build the app and server</p>
<p>EJS is used to create template that similar to each other.</p>

<%- include("footer") -%>
